mod config;
mod handlers;
mod models;
mod tasks;
mod views;

#[modo::main]
async fn main(
    app: modo::app::AppBuilder,
    config: config::Config,
) -> Result<(), Box<dyn std::error::Error>> {
    let db = modo_db::connect(&config.database).await?;
{%- if db_driver == "sqlite" %}

    let jobs_db = modo_db::connect(&config.jobs_database).await?;
    modo_db::sync_and_migrate_group(&jobs_db, "jobs").await?;
    modo_db::sync_and_migrate_group(&db, "default").await?;
{%- else %}

    modo_db::sync_and_migrate(&db).await?;
    let jobs_db = db.clone();
{%- endif %}

    let session_store = modo_session::SessionStore::new(
        &db,
        config.session,
        config.core.cookies.clone(),
    );

    let storage = modo_upload::storage(&config.upload)?;
    let email = modo_email::mailer(&config.email)?;

    let jobs = modo_jobs::new(&jobs_db, &config.jobs)
        .service(db.clone())
        .service(email)
        .run()
        .await?;

    app.config(config.core)
        .managed_service(db)
        .managed_service(jobs)
        .service(session_store.clone())
        .service(storage)
        .layer(modo_session::layer(session_store))
        .run()
        .await
}
