server:
  port: ${PORT:-8080}
  secret_key: ${SECRET_KEY}
  show_banner: false
database:
{%- if db_driver == "sqlite" %}
  sqlite:
    path: ${DATABASE_URL}
{%- else %}
  postgres:
    url: ${DATABASE_URL}
{%- endif %}
  max_connections: 20
  min_connections: 5
