{% raw %}{% extends "app/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<main class="flex items-center justify-center min-h-screen">
    <h1 class="text-4xl font-bold">Welcome to {% endraw %}{{ project_name }}{% raw %}!</h1>
</main>
{% endblock %}{% endraw %}
