// Add your background jobs here.
//
// Example:
//
// #[modo_jobs::job(queue = "default")]
// async fn process_data(payload: DataPayload) -> modo::HandlerResult<()> {
//     // process...
//     Ok(())
// }
//
// #[modo_jobs::job(cron = "0 */5 * * * *")]
// async fn periodic_cleanup() -> modo::HandlerResult<()> {
//     // cleanup...
//     Ok(())
// }
