SECRET_KEY=
DATABASE_URL=
{%- if db_driver == "sqlite" %}
JOBS_DATABASE_URL=
{%- endif %}
EMAIL_FROM_NAME=
EMAIL_FROM_ADDRESS=
RESEND_API_KEY=
{%- if s3 %}
STORAGE_BUCKET=
STORAGE_REGION=
STORAGE_ENDPOINT=
STORAGE_ACCESS_KEY_ID=
STORAGE_SECRET_ACCESS_KEY=
{%- endif %}
