[package]
name = "{{ project_name }}"
version = "0.1.0"
edition = "2024"

[dependencies]
modo = { version = "0.3", features = ["templates", "csrf", "i18n", "sse", "static-embed"] }
modo-db = { version = "0.3", features = ["{{ db_driver }}"] }
modo-session = "0.3"
modo-jobs = "0.3"
modo-email = "0.3"
modo-upload = { version = "0.3", features = ["opendal"] }
serde = { version = "1", features = ["derive"] }

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(feature, values("templates", "sse", "csrf", "i18n", "static-embed"))'] }
