[package]
name = "{{ project_name }}"
version = "0.1.0"
edition = "2024"

[dependencies]
modo = "0.3"
modo-db = { version = "0.3", features = ["{{ db_driver }}"] }
modo-jobs = "0.3"
serde = { version = "1", features = ["derive"] }
